<div class="container">
	<div class="col-lg-11">
		<div class="ibox float-e-margins">
			<div class="ibox-title">
				<h5>{{$parent.permissions.isAdmin?  'Eventos publicados':'Mis eventos'}}</h5>
				<button ng-if="!$parent.permissions.isAdmin" class="btn btn-primary btn-xs pull-right"
					data-toggle="modal" data-target="#modalCreateEvent">Crear
					evento</button>
				<button ng-if="!$parent.permissions.isAdmin" data-toggle="modal"
					class="btn btn-success btn-xs pull-right"
					data-target="#modalCreateEvent">Asistente de creación</button>
				<div class="form-group">
					<input type="text" ng-model="search.name"
						placeholder="Buscar evento" class="form-control">
				</div>
			</div>

			<div class="ibox-content">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Nombre</th>
							<th>Descripción</th>
							<th>Lugar</th>
							<th></th>
						</tr>
					</thead>
					<tbody ng-repeat="event in events | filter:search:strict">
						<tr>
							<td>{{ event.name }}</td>
							<td>{{ event.description }}</td>
							<td>{{ event.place.name }}</td>

							<td>
								<div class="btn-group">
									<button data-toggle="dropdown"
										class="btn btn-primary btn-xs dropdown-toggle">
										Acción <span class="caret"></span>
									</button>
									<ul class="dropdown-menu">
										<li><a ng-click="listContracts(event.eventId)"
											data-toggle="modal" data-target="#modalListContacts">Listar
												contratos</a></li>
										<li><a href="/dondeEs/app#/eventParticipants/{{event.eventId}}">Listar
												participantes</a></li>
										<li ng-if="!$parent.permissions.isAdmin"><a
											ng-click="auctionEventServices(event); catalogsList()"
											data-toggle="modal" data-target="#modalAuctionEventServices">Subastar
												servicios</a></li>

										<li><a href="/dondeEs/app#/auctionsEvent/{{event.eventId}}">Ver subastas</a></li>
										<li ng-if="!$parent.permissions.isAdmin"><a type="button"
											ng-click="geteventById(event.eventId)" data-toggle="modal"
											data-target="#modal-formSendInvitation">Invitar
												participantes de evento</a></li>
										<li class="divider"></li>
										<li ng-show="event.state===0" ng-if="!$parent.permissions.isAdmin"><a type="button"
											ng-click="publishEvent(event.eventId)" class="text-danger">Publicar</a></li>
											<li><a type="button" ng-click="editEvent(event)">Modificar</a></li>
										<li ng-show="event.state===1"><a type="button"
											ng-click="prepublishEventById(event.eventId)" class="text-danger">Prepublicar</a></li>
										<li ng-show="event.state===2"><a type="button"
											ng-click="publishEvent(event.eventId)" class="text-danger">Publicar</a></li>
										<li ng-show="event.state===3"><a type="button"
											ng-click="cancelEvent(event.eventId)" class="text-danger">Cancelar</a></li>
										<li ng-show="event.state===0"><a type="button"
											disabled class="text-danger">Cancelado</a></li>
									</ul>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div id="modal-formSendInvitation" class="modal fade"
			aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-body">
						<div class="row">
							<div class="col-sm-12 b-r">
								<h3 class="m-t-none m-b">Enviar correo</h3>
								<form role="form" ng-init="service">
									<div class="form-group">
										<div class="input-group">
											<input type="email" class="form-control"
												placeholder="Ingresar correo para enviar invitacion"
												ng-model="email.to"> <span class="input-group-btn"
												placeholder="Lista de Correos a invitar">
												<button type="button" ng-click="addEmail(email)"
													class="btn btn-primary">+</button>
											</span>
										</div>
										<div id="emailLabels">

											<span class="tag label label-prmmary"
												ng-repeat="item in listOfEmails"> <span>{{item}}</span>
												<a ng-click="deleteEvent(item)"><i
													class="remove glyphicon glyphicon-remove-sign glyphicon-white"></i></a>
											</span>


										</div>
									</div>
									<div class="form-group">
										<label class="font-noraml"><strong>{{event.description}}</strong></label>
									</div>

									<div class="form-group">
										<button class="btn btn-sm btn-primary pull-right m-t-n-xs"
											type="submit" ng-click="sendEmail($event)">
											<strong>Enviar</strong>
										</button>

									</div>

									<div class="form-group">
										<button type="button"
											class="btn btn-sm btn-danger pull-right m-t-n-xs"
											data-dismiss="modal">Cancelar</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>

		<div id="modalParticipants" class="modal fade" role="dialog">
			<div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Estado de invitados</h4>
					</div>
					<div class="modal-body">
						<div class="row">
							
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="modalAuctionEventServices" class="modal fade" role="dialog">
			<div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Crear subasta para un servicio del
							evento</h4>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="col-sm-12">
								<form class="form-horizontal">
								
									<div class="form-group">
										<label class="col-lg-2 control-label">Nombre</label>
										<div class="col-lg-10">
											<input type="text" placeholder="Nombre" class="form-control"
												ng-model="tempAuction.name">
										</div>
									</div>
									<div class="form-group">
										<label class="col-lg-2 control-label">Tipo de servicio a
											subastar</label>
										<div class="col-lg-10">
											<select id="cboAuctionCatalogs" class="form-control"
												ng-options="c as c.name for c in catalogs"
												ng-model="tempAuction.selected"></select>
										</div>
									</div>
									<div class="form-group">
										<label class="col-lg-2 control-label">Descripción</label>
										<div class="col-lg-10">
											<textarea rows="5" placeholder="Descripción"
												class="form-control" ng-model="tempAuction.description"></textarea>
										</div>
									</div>

									<div class="form-group">
										<label class="col-lg-2 control-label">Fecha de finalización</label>
										<div class="col-lg-10">
											<input type='text' class="form-control" ng-model="tempAuction.date" id='datetimepicker' />
										</div>
									</div>
								</form>
							</div>
						</div>	
					</div>	
					
					<div class="modal-footer">
						<button type="button" class="btn btn-primary"
							id="btnCreateAuction" ng-click="createAuction()">Crear
							subasta</button>
					</div>
				</div>
			</div>
		</div>

		<div id="modalAuctionsByEvent" class="modal fade" role="dialog">
			<div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<button class="btn btn-success btn-xs pull-right"
							ng-click="openCreateAuction()">Crear subasta</button>
						<h4 class="modal-title">Subastas</h4>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="col-sm-12">
								<table class="table table-hover table-responsive">
									<thead>
										<tr>
											<th>Nombre</th>
											<th>Descripción</th>
											<th>Fecha de publicación</th>
											<th>Opciones</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="auction in auctionsEvent">
											<td>{{auction.name}}</td>
											<td>{{auction.description}}</td>
											<td>{{auction.date | date:'dd-MM-yyyy'}}</td>
											<td>
												<div>
													<button id="finishAuctionId-{{auction.auctionId}}" ng-if="auction.state == 1"
														class="btn btn-danger btn-xs"
														ng-click="finishAuction(auction.auctionId)">Finalizar
														subasta</button>	
														
													<button id="finishAuctionId-{{auction.auctionId}}" ng-if="auction.state != 1"
														class="btn btn-warning btn-xs"
														ng-click="finishAuction(auction.auctionId)" disabled>Finalizada</button>
												</div>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button class="btn btn-info
							pull-right"
							ng-click="prepublishEvent()">Prepublicar evento</button>
					</div>
				</div>
			</div>
		</div>
		
		<div id="modalAuctionsByEvent" class="modal fade" role="dialog">
			<div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<button class="btn btn-success btn-xs pull-right"
							ng-click="openCreateAuction()">Crear subasta</button>
						<h4 class="modal-title">Subastas</h4>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="col-sm-12">
								<table class="table table-hover table-responsive">
									<thead>
										<tr>
											<th>Nombre</th>
											<th>Descripción</th>
											<th>Fecha de publicación</th>
											<th>Opciones</th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="auction in auctionsEvent">
											<td>{{auction.name}}</td>
											<td>{{auction.description}}</td>
											<td>{{auction.date | date:'dd-MM-yyyy'}}</td>
											<td>
												<div>
													<a class="btn btn-primary btn-xs"
														data-toggle="modal" data-target="#modal-form"
														ng-click="loadAuctionServices($index)">Ver servicios</a>
													
													<button id="finishAuctionId-{{auction.auctionId}}" ng-if="auction.state == 1"
														class="btn btn-danger btn-xs"
														ng-click="finishAuction(auction.auctionId)">Finalizar
														subasta</button>	
														
													<button id="finishAuctionId-{{auction.auctionId}}" ng-if="auction.state != 1"
														class="btn btn-warning btn-xs"
														ng-click="finishAuction(auction.auctionId)" disabled>Finalizada</button>
												</div>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button class="btn btn-info
							pull-right"
							ng-click="prepublishEvent()">Prepublicar evento</button>
					</div>
				</div>
			</div>
		</div>

		<div id="servicesOfAuction" class="modal fade" role="dialog">
			<div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<button class="btn btn-success btn-xs pull-right"
							ng-click="openAuctions()">Subastas</button>
						<h4 class="modal-title">Servicios</h4>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="col-sm-12">
								<table class="table table-hover table-responsive">
									<thead>
										<tr>
											<th>Descripción de la oferta</th>
											<th>Precio</th>
											<th>Fecha de publicación</th>
											<th>Nombre del servicio</th>
											<th>Descripción del servicio</th>
											<th></th>
										</tr>
									</thead>
									<tbody>
										<tr ng-repeat="service in auctionServices">
											<td>{{service.description}}</td>
											<td>₡{{service.price}}</td>
											<td>{{service.date | date:'dd-MM-yyyy'}}</td>
											<td>{{service.service.name}}</td>
											<td>{{service.service.description}}</td>
											<td><a data-toggle="modal"
												class="btn btn-primary btn-xs" data-toggle="modal"
												data-target="#modal-form"
												ng-click="goToServiceProviderProfile(service.service.user.userId)">
													<di>Ver</di>
													<div>prestatario</div>
											</a></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div class="modal-footer"></div>
				</div>
			</div>
		</div>

		<div id="modalListContacts" class="modal fade" role="dialog">
			<div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>

						<h4 class="modal-title">Contratos del evento</h4>
					</div>
					<div class="modal-body">
						<div class="row">
							<div class="col-sm-12">
								<table class="table table-hover">
									<thead>
										<tr>
											<th>Contrato</th>
											<th>Estado</th>
											<th>Comentario</th>
										</tr>
									</thead>
									<tbody ng-repeat="serviceContact in serviceContacts">
										<tr>
											<td>{{serviceContact.service.name}}</td>
											<td>{{(serviceContact.state==0)?
												"Pendiente":(serviceContact.state==1)?
												"Concretado":"Cancelado"}}</td>
											<td>{{serviceContact.comment}}</td>
			
											<td ng-if="serviceContact.state != 2">
												<Button ng-if="!$parent.permissions.isAdmin"
													id="btnCancelService-{{serviceContact.serviceContractId}}"
													class="btn btn-danger btn-xs" ng-click="cancel(serviceContact)">Cancelar</Button>
											</td>
											<td ng-if="serviceContact.state == 2">
												<Button
													id="btnCancelService-{{serviceContact.serviceContractId}}"
													class="btn btn-warning btn-xs" ng-click="cancel(serviceContact)"
													disabled>Cancelado</Button>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>

						<!-- Graph morris donut chart -->
						<div class="ibox">
							<div class="ibox-title">
								<h5>Resumen</h5>
							</div>
							<div id="contracts-state-chart" class="hidden"></div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- events modal -->
		<div id="modalCreateEvent" class="modal fade" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title" id="modalEventTitle">Crear evento</h4>
					</div>
					
					<form class="form-horizontal" name="formCreateEvent" ng-submit="formCreateEvent.$valid ? (eventInEdition == null ? createEvent() : saveEventChanges()) : null">
						<div class="modal-body">
							<div class="row">
								<div class="col-sm-12">
									<div class="form-group">
										<label class="col-lg-2 control-label">Nombre</label>
										<div class="col-lg-10">
											<input ng-model="eventName" type="text" class="form-control" ng-maxlength="255" required>
										</div>
									</div>
									
									<div class=form-group>
										<label class="col-lg-2 control-label">Fecha:</label>
										<div class="col-lg-10">
											<input id="modalEventDate" type="date" min="2000-01-01" max="2100-12-31" class="form-control" ng-model="eventDate" required/>
										</div>
									</div>
									
									<div class="form-group">
										<label class="col-lg-2 control-label">Descripción</label>
										<div class="col-lg-10">
											<input ng-model="eventDescription" type="text" class="form-control" ng-maxlength="255" required>
										</div>
									</div>
									
									<div class="form-group">
										<label class="col-lg-2 control-label">Descripción larga</label>
										<div class="col-lg-10">
											<textarea ng-model="eventLargeDescription" class="form-control" rows="5" ng-maxlength="255"></textarea>
										</div>
									</div>

									<div class="form-group">
										<label class="col-lg-2 control-label">Tipo de evento</label>
										<div class="col-lg-10">
											<div class="radio-inline">
												<label> <input type="radio" ng-model="eventType" ng-value="0" checked> Público </label>
											</div>
											<div class="radio-inline">
												<label> <input type="radio" ng-model="eventType" ng-value="1"> Privado </label>
											</div>
										</div>
									</div>
									
									<div class="form-group">
										<label class="col-lg-2 control-label">Nombre del lugar</label>
										<div class="col-lg-10">
											<input ng-model="eventPlaceName" type="text" class="form-control" ng-maxlength="255" required>
										</div>
									</div>
									
									<div class="form-group">
										<div class="col-lg-12">
											<google-map center="map.center" zoom="map.zoom" draggable="true" options="map.options" control="map.control">
											<markers models="map.markers" coords="'self'" options="'options'" isLabel='true'> </markers> </google-map>
											<a class="btn btn-primary col-xs-12" ng-click="addCurrentLocation()">Ir a mi localización</a>
										</div>
									</div>
									
									<div class="form-group">
										<div class="col-lg-12">
											<label class="control-label">Buscar lugar</label> 
											<input class="form-control col-xs-12" type="text" placeholder="San José, Costa Rica" ng-model="address" /> 
												<a class="btn btn-primary col-xs-12" ng-click="addAddress()">Ir a esta dirección</a> 
												<label class="has-error" ng-show="resultSearch">La dirección no pudo ser encontrada.</label>
											</div>
									</div>
									
									<div class="form-group">
										<div class="col-lg-12">
											<label class='control-label'>Imagen</label> 
											<img ng-src="{{file}}" class="img-responsive img-rounded center-block" width="150px" height="100px"/>
											<input id="uploadImageEvent" class="btn btn-primary inputUploadImage" type="file" name="inputfile" ngf-pattern="'image/*" ngf-max-size="10MB" ng-file-select="onFileSelect($files)" required>
											<p>Formatos válidos: .jpg .png .gif</p>
										</div>
									</div>
									
									<div class="modal-footer">
										<button id="btnModalEventSubmit" type="submit" class="btn btn-primary pull-right">Crear</button>
									</div>
								</div>
							</div>
						</div>
					</form>
					
				</div>
			</div>
		</div>
		<!-- end events modal -->
	</div>
</div>