<div class="container">
	<div class="col-lg-11">
		<div class="ibox float-e-margins">
			<div class="ibox-title">
				<h5>Mis eventos</h5>
				<div class="ibox-tools">
					<a class="collapse-link"> <i class="fa fa-chevron-up"></i>
					</a> <a class="dropdown-toggle" data-toggle="dropdown" href="#"> <i
						class="fa fa-wrench"></i>
					</a>
					<ul class="dropdown-menu dropdown-user">
						<li><a href="#">Config option 1</a></li>
						<li><a href="#">Config option 2</a></li>
					</ul>
					<a class="close-link"> <i class="fa fa-times"></i>
					</a>
				</div>
			</div>
			<div class="ibox-content">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Nombre</th>
							<th>Descripción</th>
							<th>Lugar</th>
							<th></th>
						</tr>
					</thead>
					<tbody ng-repeat="event in events">
						<tr>
							<td>{{ event.name }}</td>
							<td>{{ event.description }}</td>
							<td>{{ event.place.name }}</td>

							<td>
								<div class="btn-group">
									<button data-toggle="dropdown"
										class="btn btn-primary btn-xs dropdown-toggle">
										Acción<span class="caret"></span>
									</button>
									<ul class="dropdown-menu">
										<li><a ng-click="listContracts(event.eventId)" data-toggle="modal" 
											data-target="#modalListContacts">Listar contratos</a></li>
										<li><a ng-click="listParticipants(event.eventId)" data-toggle="modal"
											data-target="#modalParticipants">Listar participantes</a></li>
										<li><a ng-click="auctionEventServices(event)"
											data-toggle="modal" data-target="#modalAuctionEventServices">Subastar
												servicios</a></li>
										<li><a type="button"
											ng-click="geteventById(event.eventId)" data-toggle="modal"
											data-target="#modal-formSendInvitation">Invitar
												participantes de evento</a></li>
										<li class="divider"></li>
										<li ng-show="event.state===0"><a type="button"
											ng-click="publishEvent(event.eventId)" class="text-danger">Publicar</a></li>
										<li ng-show="event.state===1"><a type="button"
											ng-click="cancelEvent(event.eventId)" class="text-danger">Cancelar evento</a></li>
									</ul>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div id="modal-formSendInvitation" class="modal fade"
			aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-body">
						<div class="row">
							<div class="col-sm-12 b-r">
								<h3 class="m-t-none m-b">Enviar correo</h3>
								<form role="form" ng-init="service">
									<div class="form-group">
										<div class="input-group">
											<input type="text" class="form-control"
												placeholder="Ingresar correo para enviar invitacion"
												ng-model="email.to"> <span class="input-group-btn"
												placeholder="Lista de Correos a invitar">
												<button type="button" ng-click="addEmail(email)"
													class="btn btn-primary">+</button>
											</span>
										</div>
										<div id="emailLabels">

											<span class="tag label label-prmmary"
												ng-repeat="item in listOfEmails"> <span>{{item}}</span>
												<a ng-click="deleteEvent(item)"><i
													class="remove glyphicon glyphicon-remove-sign glyphicon-white"></i></a>
											</span>


										</div>
									</div>
									<div class="form-group">
										<label class="font-noraml"><strong>{{event.description}}</strong></label>
									</div>

									<div class="form-group">
										<button class="btn btn-sm btn-primary pull-right m-t-n-xs"
											type="submit" ng-click="sendEmail($event)">
											<strong>Enviar</strong>
										</button>

									</div>

									<div class="form-group">
										<button type="button"
											class="btn btn-sm btn-danger pull-right m-t-n-xs"
											data-dismiss="modal">Cancelar</button>
									</div>


								</form>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	<div id="modalParticipants" class="modal fade" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Estado de invitados</h4>
				</div>
				<div class="modal-body">
					<table class="table table-hover">
						<thead>
							<tr>
								<th>Nombre</th>
								<th>Estado</th>
								<th>Fecha de envio de la invitación</th>
							</tr>
						</thead>
						<tbody ng-repeat="participant in participants">
							<tr>
								<td>{{ ((participant.user != null) ?  (participant.user.name+" "+participant.user.lastName1+" "+participant.user.lastName2 ) : ( participant.offlineUser.email)) }}</td>
								<td>{{ ((participant.state == 0) ? "No asistirá" : (participant.state == 1) ? "Pendiente" : "Asistirá")}}</td>
								<td>{{ participant.invitationDate | date:'medium' }}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	<div id="modalAuctionEventServices" class="modal fade" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Crear subasta para los servicios del
						evento</h4>
				</div>
				<div class="modal-body">

					<form class="form-horizontal">
						<div class="form-group">
							<label class="col-lg-2 control-label">Nombre</label>
							<div class="col-lg-10">
								<input type="text" placeholder="Nombre" class="form-control"
									id="auctionName">
							</div>
						</div>
						<div class="form-group">
							<label class="col-lg-2 control-label">Descripción</label>
							<div class="col-lg-10">
								<textarea rows="5" placeholder="Descripción"
									class="form-control" id="auctionDescription"></textarea>
							</div>
						</div>
					</form>

				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary"
						ng-click="createAuction()">Crear subasta</button>
				</div>
			</div>
		</div>
	</div>

	<div id="modalListContacts" class="modal fade" role="dialog" ng-controller="ContractsCtrl">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Contratos del evento</h4>
				</div>
				<div class="modal-body">
					<table class="table table-hover">
						<thead>
							<tr>
								<th>Contrato</th>
								<th>Estado</th>
								<th>Comentario</th>
							</tr>
						</thead>
						<tbody ng-repeat="serviceContact in serviceContacts">
							<tr>
								<td>{{serviceContact.service.name}}</td>
								<td>{{(((serviceContact.state)==0)? "Pendiente":"Concretado")}}</td>
								<td>{{serviceContact.comment}}</td>
								
								<td ng-if="serviceContact.state != 2">
									<Button id="btnCancelService-{{serviceContact.serviceContractId}}" class="btn btn-danger" ng-click="cancel(serviceContact)">Cancelar</Button>
								</td>
								<td ng-if="serviceContact.state == 2">
									<Button id="btnCancelService-{{serviceContact.serviceContractId}}" class="btn btn-warning" ng-click="cancel(serviceContact)" disabled>Cancelado</Button>
								</td>
							</tr>
						</tbody>
					</table>
					
					<!-- Graph morris donut chart -->
					<div>
					    <div class="ibox float-e-margins">
					        <div class="ibox-title">
					            <h5>Resumen</h5>
					        </div>
					        <div class="ibox-content">
					            <div id="contracts-state-chart" class="hidden"></div>
					        </div>
					    </div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="ibox-content">
	          <label>Buscar</label>
		        <input type="text" ng-model="search.name" placeholder="Buscar servicio" class="form-control"> 

		        <table class="table table-hover">
					<thead>
							<tr>
								<th>Nombre</th>
						  		<th>Descripción</th>
						  	</tr>
					</thead>
				 	<tbody ng-repeat="service in services | filter:search:strict">
					  	<tr>
					 	    <td>{{service.name}}</td>
						   <td>{{service.description}}</td>
					  	</tr>
				  	</tbody>
				</table>
			</div>
	
</div>