<div class="navbar-wrapper">
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header page-scroll">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
				
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-left col-lg-6">
					<li><a class="page-scroll" href="#/landingPage">Inicio</a></li>
					<li><a class="page-scroll" href="#/landingPage?p=events">Eventos</a></li>
					<li><a class="page-scroll" href="#/landingPage?p=testimonials">Opinión</a></li>
					<li><a class="page-scroll" href="#/landingPage?p=contact">Contacto</a></li>
					
					<li><a class="page-scroll" ng-if="loggedUser != null && loggedUser.role.roleId == 1" href="app#/users">Administrar</a></li>
					<li><a class="page-scroll" ng-if="loggedUser != null && loggedUser.role.roleId == 2" href="app#/serviceByUser">Mis servicios</a></li>
					<li><a class="page-scroll" ng-if="loggedUser != null && loggedUser.role.roleId == 3" href="app#/index">Mis eventos</a></li>
				</ul>
				
				<div class="nav2 navbar-right col-lg-3">
					<div ng-show="loggedUser == null">
						<button class="btn btn-primary btn-sm-normalize-size page-scroll" data-toggle="modal" data-target="#modalLogin" ng-click="logout()">Iniciar sesión</button>
					</div>
					
					<div ng-hide="loggedUser == null">
						<label class="page-scroll" ng-click="viewProfile(loggedUser)">{{loggedUser.name}} {{loggedUser.lastName}}</label>
						<span>|</span>
						<label class="page-scroll" ng-click="logout()">Cerrar sesión</label>
					</div>
				</div>
			</div>
		</div>
	</nav>
</div>

<div id="inSlider" class="carousel carousel-fade" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#inSlider" data-slide-to="0" class="active"></li>
        <li data-target="#inSlider" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <div class="container">
                <div class="carousel-caption">
                    <h1>¿Quieres crear tu <br/>
                        propio evento?<br/>
                        registrate y crea<br/>
                        uno ahora mismo</h1>
                    <p>
                        <a class="btn btn-lg btn-primary" href="#/landingPage?p=singin">REGISTRARSE</a>
                    </p>
                </div>
                <div class="carousel-image wow zoomIn">
                    <img src="resources/img/laptop.png" alt="laptop"/>
                </div>
            </div>
            <!-- Set background for slide in css -->
            <div class="header-back one"></div>

        </div>
        <div class="item">
            <div class="container">
                <div class="carousel-caption blank">
                    <h1>Promociona tu evento en minutos.</h1>
                    <p>Después de haberlo creado podrás promocionarlo en simples pasos.</p>
                    <p>
                    	<a class="btn btn-lg btn-primary" data-target="#selectTypeUser" data-toggle="modal">REGISTRARSE</a>
                    </p>
                </div>
            </div>
            <!-- Set background for slide in css -->
            <div>
            	<img src="resources/img/landing/background.jpg" width="100%" height="470px"/>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#inSlider" target="_self" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#inSlider" target="_self" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<!-- LISTA DE EVENTOS PUBLICADOS -->

<div class="center-block" style="width: 80%">

	<!-- BUSCADOR -->
	
    <div class="row">
		<div class="col-sm-12">
			<div class="input-group">
				<button type="button" class="btn btn-primary btn-sm-normalize-size" ng-click="openDivSearch()">Herramientas de búsqueda</button>
			</div>
			<br/>
			<div ng-show="isOpen">
				<form role="form" class="form-inline">
					<div class="form-group">
						<label for="searchByPlace" class="sr-only" > <strong> Lugar </strong></label> <input
							type="text" placeholder="Busque por lugar" id="searchByPlace"
							ng-model="searchByPlace" class="form-control">
					</div>
					<div class="form-group">
						<label for="searchByEvent" class="sr-only"> <strong> Evento </strong>
						</label> <input type="text" id="searchByEvent"
							placeholder="Busque por evento" class="form-control"
							ng-model="searchByEvent" />
					</div>
					<div class="form-group">
						<label for="searchByUser" class="sr-only"> <strong> Usuario </strong>

						</label><input type="text" id="searchByUser"
							placeholder="Busque por usuario" class="form-control"
							ng-model="searchByUser" />
					</div>
					<button class="btn btn-primary btn-sm-normalize-size pull-right" ng-click="searchByParam()">Buscar</button>
				</form>
			</div>
		</div>
	</div>
	
	<br/>
	<!-- LISTA DE EVENTOS -->
	
	<div>
		<table ng-show="eventsPublish.length" ng-table="eventsTable" style="width: 100%">
			<thead><tr><th></th></tr></thead>
			<tbody>
				<tr ng-repeat="event in $data">
					<td>
						<ul class="event-list collapseDiv">
							<li>
								<time datetime="event.publishDate" data-toggle="collapse" data-target="#demo{{$index}}">
									<span class="day">{{event.day}}</span> <span class="month">{{event.month}}</span> {{event.time | date : 'hh:mma'}}
								</time> 
								<img ng-if="event.image == null || event.image == ''"
								alt="Image not found" src="resources/img/imagen-no-disponible.gif"
								data-toggle="collapse" data-target="#demo{{$index}}"/> 
								
								<img ng-if="event.image != null && event.image != ''"
								alt="Image not found" src="{{event.image}}"
								data-toggle="collapse" data-target="#demo{{$index}}"/>
								
								<div class="info">
									<h2 class="title" data-toggle="collapse" data-target="#demo{{$index}}">{{ event.name }}</h2>
									<p class="desc" data-toggle="collapse" data-target="#demo{{$index}}">{{ event.description }}</p>
									<p class="desc" data-toggle="collapse" data-target="#demo{{$index}}">{{ event.place.name }}</p>
									<ul>
										<li style="width:33%;" ng-click="viewProfile(event.user)">
											Promotor {{ event.user.name }} {{ event.user.lastName1 }} {{ event.user.lastName2 }}
											<span class="fa fa-male"></span>
										</li>
									</ul>
								</div>
								<div class="social" data-toggle="collapse" data-target="#demo{{$index}}">
									<ul>
										<li ng-click="viewEvent(event)"><span>ver más</span></li>
									</ul>
								</div>
							</li>
						</ul>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div ng-hide="eventsPublish.length" class="ibox-content">
		<p>No hay eventos con ese criterio de busqueda.</p>
	</div>
</div>

	<!-- PERFIL DE USUARIO -->
<div id="userProfileModal" class="modal fade" aria-hidden="true" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<div class="modal-body">
				<div class="widget-head-color-box navy-bg p-lg text-center">
					<div class="m-b-md">
						<h2 class="font-bold no-margins">{{ modalUser.name + ' ' +
							((modalUser.lastName1 !== null)? modalUser.lastName1:'') + ' ' +
							((modalUser.lastName2 !== null)? modalUser.lastName2:'') }}</h2>
						<small class="userProfileRoleName">{{modalUser.role.name}}</small>
					</div>
					<img ng-src="{{modalUser.image || DEFAULT_USER_IMAGE}}" class="img-circle circle-border m-b-md" alt="profile" width="150px" height="150px">
					
					<h2>Contacto</h2>
					<ul class="list-unstyled m-t-md">
						<li><span class="fa fa-envelope m-r-xs"></span> <label>Email:</label>
							{{modalUser.email}}</li>
						<li><span class="fa fa-phone m-r-xs"></span> <label>Teléfono:</label>
							{{modalUser.phone}}</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>