<div class="navbar-wrapper">
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="navbar-header page-scroll">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#/landingPage">Volver</a>
				<a class="navbar-brand" href="#/landingPage?p=login&event={{event.eventId}}" ng-show="loggedUser == null">Iniciar sesión</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a class="page-scroll" href="#/landingPage">Inicio</a></li>
					<li><a class="page-scroll" href="#/landingPage?p=events">Eventos</a></li>
					<li><a class="page-scroll" href="#/landingPage?p=testimonials">Opinión</a></li>
					<li><a class="page-scroll" href="#/landingPage?p=contact">Contacto</a></li>
				</ul>
			</div>
		</div>
	</nav>
</div>

<div id="inSlider" class="carousel carousel-fade" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
        <div ng-show="images.length > 0" ng-repeat="img in images" class="item {{$index == 0? 'active':''}}">
            <div class="container">
                <div class="carousel-caption">
                    <h1>{{event.name}}</h1>
                    <h3>{{event.publishDate | date: "EEE dd MMMM yyyy 'a las' hh:mma"}}</h3>
                    <p>
                    	<button class="btn btn-primary" ng-show="eventParticipant != null">Estas participando</button>
                        <button class="btn btn-primary" ng-show="eventParticipant == null" ng-click="assist()">PARTICIPAR</button>
                    </p>
                </div>
            	<img src="{{img.image}}" alt="{{img.name}}" width="100%" height="470px"/>
            </div>
	    </div>
	    
	    <div ng-show="images.length == 0" class="item active">
            <div class="container">
                <div class="carousel-caption">
                    <h1>{{event.name}}</h1>
                    <h3>{{event.publishDate | date: "EEE dd MMMM yyyy 'a las' hh:mma"}}</h3>
                    <p>
                    	<label class="label label-primary" ng-show="eventParticipant != null">Estas participando</label>
                        <button class="btn btn-primary" ng-show="eventParticipant == null" ng-click="assist()">PARTICIPAR</button>
                    </p>
                </div>
            	<img ng-if="event.image != null" src="{{event.image}}" alt="{{event.name}}" width="100%" height="470px"/>
            </div>
	    </div>
	    
	    <button ng-show="eventParticipant != null" class="btn btn-default btn-circle pull-right" data-toggle="tooltip" title="Subir imagen" ng-click="showUploadField = !showUploadField">+</button>
	    
	    <a ng-show="images.length > 1" class="left carousel-control" href="#inSlider" target="_self" role="button" data-slide="prev">
	        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
	        <span class="sr-only">Anterior</span>
	    </a>
	    <a ng-show="images.length > 1" class="right carousel-control" href="#inSlider" target="_self" role="button" data-slide="next">
	        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
	        <span class="sr-only">Siguiente</span>
	    </a>
	</div>
</div>

<div class="center-block" style="width: 80%" ng-show="showUploadField && eventParticipant != null">
	<h4 class="text-center">Sube tus imágenes a {{eventParticipant.event.name}}</h4>
	<div ngf-drop ngf-select ng-model="files" class="drop-box" ngf-drag-over-class="'dragover'" 
	ngf-multiple="true" ngf-allow-dir="false" accept="image/*" ngf-pattern="'image/*'">
		<p ng-show="previewFiles.length == 0">Arrastra imágenes, o haz click aquí</p>
		
		<img ng-repeat="img in previewFiles" ng-src="{{img.thumbnail}}" width="100px" height="90px" 
		title="{{img.name}} {{img.size / 1024 | number:2}}Kb"/>
	</div>
	
	<input type="button" ng-click="upload(previewFiles)" class="btn btn-primary pull-right" value="Publicar"/>
	<input ng-show="previewFiles.length > 0" type="button" ng-click="previewFiles = []; progressPercentaje = 0" class="btn btn-warning pull-right" value="Limpiar"/>
	<h6 ng-show="progressPercentaje > 0">Enviando... {{progressPercentaje}}%</h6>
</div>

<div class="ibox float-e-margins center-block" style="width: 80%;">
	 <div class="ibox-title">
	     <h4>Comentarios</h4>
	 </div>
	 <div ng-show="eventParticipant != null" class="containerComment" id="commentDiv">
		<div class="row">
			<form>
			 	<div class="form-group">
			 		<img ng-if="commentPreviewFile != null" ng-src={{commentPreviewFile}} class="center-block" with="250px" height="200px"/><br/>
			 		<textarea class="form-control" rows="2" placeholder="Escriba su comentario aquí..." ng-model="comment"></textarea>
					<button class="btn btn-primary pull-right" ng-click="commentEvent()">Comentar</button>
					
					<div class="button" ngf-select="attach($file)">
						<label class="btn btn-default pull-right fa fa-camera" data-toggle="tooltip" title="Adjuntar imagen"></label>
					</div>
					<label class="btn btn-default pull-right fa fa-trash" data-toggle="tooltip" title="Quitar imagen adjunta" 
					ng-click="commentPreviewFile = null; commentFile = null;" ng-show="commentFile != null"></label>
			 	</div>
			</form>
		</div>
	</div>
	<div class="containerComment">
		<div class="row">
			<div class="col-lg-12">
				<table ng-show="commentList.length > 0" ng-table="commentsTable" style="width: 100%">
					<thead><tr><th></th></tr></thead>
					<tbody>
						<tr ng-repeat="comment in $data">
							<td>
								<div class="panel panel-white post panel-shadow">
					                <div class="post-heading">
					                    <div class="pull-left image">
					                        <img ng-src="{{comment.eventParticipant.user.image || DEFAULT_USER_IMAGE}}" class="img-circle avatar">
					                    </div>
					                    <div class="pull-left meta">
					                        <div class="title h5">
					                            <a><b>{{(comment.eventParticipant.user == null)? comment.eventParticipant.offlineUser.email : (comment.eventParticipant.user.name+' '+comment.eventParticipant.user.lastName1+' '+(comment.eventParticipant.user.lastName2 == null? '':comment.eventParticipant.user.lastName2))}}</b></a>
					                        </div>
					                        <h6 class="text-muted time" sorteable="'date'">{{setDate(comment.date)}}</h6>
					                    </div>
					                </div> 
					                <div class="post-description"> 
					                	<img ng-if="comment.image != null" class="center-block" ng-src="{{comment.image}}" width="300px" height="250px"/>
					                	<br/>
					                    <p>{{comment.content}}</p>
					                </div>
					            </div>
							</td>
						</tr>
					</tbody>
				</table>
	            
	            <div ng-show="commentList.length == 0">
	            	<p class="text text-center">
	            		Sin comentarios... <br/>
	            		<strong>Participa y se el primero en comentar!</strong>
	            	</p>
	            </div>
	       </div>
	   </div>
	</div>
</div>