<div class="Container">
	<div class="modal-dialog" ng-init="getEventById()">
		<div class="modal-content">
			<div class="modal-body">
				<div class="row">
					<div class="col-sm-12 b-r">
						<h3 class="m-t-none m-b">Evento</h3>
						<form role="form" ng-init="service">
							<div class="form-group">

								<label class="font-noraml"><strong>Nombre</strong></label> <input
									type="text" id="name" class="form-control" placeholder="Nombre"
									ng-model="event.name" readonly />

							</div>
							<div class="form-group">
								<label class="font-noraml"><strong>Descripción</strong></label>
								<input type="text" id="desciption" class="form-control"
									placeholder="Descripcion" ng-model="event.description" readonly />
							</div>
							<div class="form-group">
								<label class="font-noraml"><strong>Lugar</strong></label> <input
									type="text" id="desciption" class="form-control"
									placeholder="Lugar" ng-model="event.place.name" readonly />
							</div>
							<div class="form-group">
								<label class="font-noraml"><strong>Promotor</strong></label> <input
									type="text" id="desciption" class="form-control"
									ng-value="event.user.name +' '+ event.user.lastName1 + ' ' + event.user.lastName2"
									readonly />
							</div>
							<div class="form-group">
								<button class="btn btn-sm btn-primary pull-right m-t-n-xs"
									type="submit" ng-click="accept(event)">
									<strong>Aceptar</strong>
								</button>

							</div>

							<div class="form-group">
								<button type="button"
									class="btn btn-sm btn-danger pull-right m-t-n-xs"
									data-dismiss="modal">No aceptar</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	
	<div class="col-lg-6">
		<div class="widget-head-color-box navy-bg p-lg text-center">
			<div class="m-b-md">
				<h2 class="font-bold no-margins">{{event.name}}</h2>
				<small>{{event.place.name}}</small>
			</div>
			<img
				src="http://lorempixel.com/image_output/people-q-c-100-100-1.jpg"
				class="img-circle circle-border m-b-md" alt="profile">
			<div>
				<span>Correo: {{event.user.email}}</span>
			</div>
		</div>
		<div class="widget-text-box">
			<h4 class="media-heading">{{loggedUser.name + ' ' +
				loggedUser.lastName}}</h4>
			<p>Has sido contratado para brindar tus servicios en este evento!</p>
			<div class="text-right">
				<a class="btn btn-xs btn-danger" ><i class="fa fa-thumbs-down"></i>
					NO aceptar </a> <a ng-click="accept(event)" class="btn btn-xs btn-primary"><i
					class="fa fa-thumbs-up"></i> Aceptar</a>
			</div>
		</div>
	</div>
	
</div>