<div class="container">
	<div class="col-lg-11">
		<div class="table-responsive">
			<div class="ibox-title">
				<h4>Subastas disponibles</h4>
				<select class="form-control m-b"
					ng-change="getAuctionsByCatalog(serviceCatalog)"
					ng-options="serviceCatalog as serviceCatalog.name for serviceCatalog in catalogs "
					ng-model="serviceCatalog"></select>
			</div>
			<div ng-show="showError" class="ibox-content">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Nombre</th>
							<th>Descripción</th>
							<th>Fecha de creación</th>
							<th>Acción</th>
						</tr>
					</thead>
					<tbody ng-repeat="auction in auctionList">
						<tr>
							<td>{{auction.name}}</td>
							<td>{{auction.description}}</td>
							<td>{{auction.date | date:'dd/MM/yyyy'}}</td>
							<td>
								<button ng-click="listParticipants(auction)"
									class="btn btn-primary btn-xs" data-toggle="modal"
									data-target="#modalAuctionParticipants">Listar
									particiantes</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div ng-hide="showError" class="ibox-content">
				<p>No hay subastas disponibles.</p>
			</div>
		</div>
	</div>

	<div id="modalAuctionParticipants" class="modal fade" role="dialog">
		<div class="modal-dialog">

			<!-- Modal content-->
			<div class="modal-content" ng-show="listForm">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Servicios de la subasta</h4>
				</div>
				<div class="modal-body" ng_if="auctionServices.length != 0">
					<table class="table table-hover">
						<thead>
							<tr>
								<th>Nombre</th>
								<th>Descripción</th>
								<th>Precio</th>
								<th>Fecha de ingreso</th>
								<th></th>
							</tr>
						</thead>
						<tbody ng-repeat="service in auctionServices">
							<tr>
								<td>{{ service.service.name }}</td>
								<td>{{ service.description }}</td>
								<td>{{ service.price }}</td>
								<td>{{ service.date | date:'dd/MM/yyyy' }}</td>
								<td class="text text-info">
									<button  ng-if="!$parent.permissions.isAdmin"  ng-click="contract(service)"
										class="btn btn-primary btn-xs">Contratar</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="modal-body" ng_if="auctionServices.length == 0">
					<p>No hay participantes registrados.</p>
				</div>
				<div class="modal-footer">
					<button  ng-if="!$parent.permissions.isAdmin" type="button" class="btn btn-primary"
						ng-click="displayForm()">Participar</button>
				</div>
			</div>

			<div class="modal-content" ng-hide="listForm">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Participar en subasta</h4>
				</div>
				<div class="modal-body">
					<form class="form-horizontal">
						<div class="form-group">
							<label class="col-lg-2 control-label">Servicio</label>
							<div class="col-lg-10">
								<select class="form-control m-b"
									ng-options="service as service.name for service in services track by service.serviceId"
									ng-model="auctionService.service"></select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-lg-2 control-label">Descripción</label>
							<div class="col-lg-10">
								<textarea rows="5" style="resize: none"
									placeholder="Descripción" class="form-control"
									ng-model="auctionService.description"></textarea>
							</div>
						</div>
						<div class="form-group">
							<label class="col-lg-2 control-label">Precio</label>
							<div class="col-lg-10">
								<input type="text" placeholder="Precio" class="form-control"
									ng-model="auctionService.price">
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button  type="button" class="btn btn-primary"
						ng-click="joinAuction()">$parent.permissions.isPrestatario ? 'Si' : 'No'</button>
				</div>
			</div>
		</div>
	</div>
</div>
