<div class="container">
	<div ng-show="step == 0" class="col-lg-11">
		<div class="ibox float-e-margins">
			<div class="ibox-title">
				<h4>Subastas disponibles</h4>
				<select class="form-control m-b"				
					ng-model="selectedCatalog"
					ng-options="serviceCatalog as serviceCatalog.name for serviceCatalog in catalogs ">
					<option value="">Todas las categorias</option>
				</select>
			</div>
			<div ng-show="tempAuctionList.length != 0" class="ibox-content">
				<table class="table table-hover" ng-table="auctionsTable">
					<thead>
						<tr>
							<th class="col-lg-3">Nombre</th>
							<th class="col-lg-5">Descripción</th>
							<th class="col-lg-2">Fecha de finalización</th>
							<th></th>
						</tr>
					</thead>
					<tbody ng-repeat="auction in tempAuctionList = ($data | filter : (!!selectedCatalog.serviceCatalogId || undefined) && {serviceCatalog : {serviceCatalogId: selectedCatalog.serviceCatalogId}} : true)">
						<tr>
							<td>{{auction.name}}</td>
							<td>{{auction.description}}</td>
							<td>{{auction.date | date:"dd/MM/yyyy ' | ' h:mma"}}</td>
							<td>
								<div class="btn-group">
									<button data-toggle="dropdown"
										class="btn btn-primary btn-xs dropdown-toggle" ng-click="validatelistItem(auction,$index)">
										Acción <span class="caret"></span>
									</button>
									<ul class="dropdown-menu">
										<li><a ng-click="listParticipants(auction)">Ver particiantes</a></li>
										<li><a id="liParticipate-{{$index}}" ng-if="$parent.permissions.isPrestatario" 
											   data-toggle="modal" data-target="#registerModal" ng-click="loadServices()">Participar</a></li>
									</ul>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div ng-hide="tempAuctionList.length != 0" class="ibox-content">
				<p>No hay subastas disponibles.</p>
			</div>
		</div>
	</div>
	
	<div ng-show="step == 1" class="col-lg-11">
		<button type="button" class="btn btn-primary btn-xs pull-left" ng-click="step = 0">Volver</button>
		<div class="ibox float-e-margins">
			<div class="ibox-title">
			<button type="button" class="btn btn-primary btn-xs pull-right" id="btnParticipate" ng-click="loadServices()"
					ng-if="$parent.permissions.isPrestatario" data-toggle="modal" data-target="#registerModal">Participar</button>
				<h4>Participantes de la subasta</h4>
			</div>
			<div class="ibox-content" ng-show="auctionServices.length" >
				<table class="table table-hover" ng-table="auctionServicesTable">
					<thead>
						<tr>
							<th>Nombre</th>
							<th>Descripción</th>
							<th>Precio</th>
							<th></th>
						</tr>
					</thead>
					<tbody ng-repeat="service in $data">
						<tr>
							<td>{{ service.service.name }}</td>
							<td>{{ service.description }}</td>
							<td>{{ service.price | currency:"₡":0}}</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="ibox-content" ng-hide="auctionServices.length" >
				<p>No hay participantes registrados.</p>
			</div>
		</div>
	</div>

	<div id="registerModal" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Participar en subasta</h4>
				</div>
				<form class="form-horizontal" name="formJoinAuction" ng-submit="formJoinAuction.$valid ? joinAuction() : validationError()">
					<div class="modal-body">
						<div class="form-group">
							<label class="col-lg-2 control-label">Servicio</label>
							<div class="col-lg-10">
								<select class="form-control m-b"
									ng-options="service as service.name for service in services track by service.serviceId"
									ng-model="auctionService.service">
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-lg-2 control-label">Descripción</label>
							<div class="col-lg-10">
								<textarea rows="5" placeholder="Descripción" class="form-control"
									ng-model="auctionService.description" required>
								</textarea>
							</div>
						</div>
						<div class="form-group">
							<label class="col-lg-2 control-label">Precio</label>
							<div class="col-lg-10">
								<input type="number" placeholder="Precio" class="form-control"
									ng-model="auctionService.price" required>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-primary">{{$parent.permissions.isPrestatario ? 'Participar' : 'No'}}</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>