<!--  
<div id="small-chat" ng-click="openChat = !openChat">
	<span class="badge badge-warning pull-right">5</span> <a
		class="open-small-chat"> <i class="fa fa-comments"></i>
	</a>
</div>


<div class="small-chat-box ng-small-chat fadeInRight animated" ng-show="openChat">
    <div class="heading" draggable="true">
        <small class="chat-date pull-right">
            02.19.2015
        </small>
        Chat administrativo
    </div>

    <div class="content" chat-slim-scroll>

        <div class="left">
            <div class="author-name">
                Monica Jackson <small class="chat-date">
                10:02 am
            </small>
            </div>
            <div class="chat-message active">
                Lorem Ipsum is simply dummy text input.
            </div>

        </div>
        <div class="right">
            <div class="author-name">
                Mick Smith
                <small class="chat-date">
                    11:24 am
                </small>
            </div>
            <div class="chat-message">
                Lorem Ipsum is simpl.
            </div>
        </div>
        <div class="left">
            <div class="author-name">
                Alice Novak
                <small class="chat-date">
                    08:45 pm
                </small>
            </div>
            <div class="chat-message active">
                Check this stock char.
            </div>
        </div>
        <div class="right">
            <div class="author-name">
                Anna Lamson
                <small class="chat-date">
                    11:24 am
                </small>
            </div>
            <div class="chat-message">
                The standard chunk of Lorem Ipsum
            </div>
        </div>
        
        <div ng-class="" ng-repeat="message in messages">
            <div class="author-name">
                {{message.autor}}
                <small class="chat-date">
                    {{message.time}}
                </small>
            </div>
            <div class="chat-message active">
                {{message.content}}
            </div>
        </div>
    </div>
    <div class="form-chat">
        <div class="input-group input-group-sm"><input type="text"  ng-model="objMessage.content"  class="form-control"> <span class="input-group-btn"> <button
                class="btn btn-primary" ng-click="sendMessage($event)"  type="button">Send
        </button> </span></div>
    </div>
</div>

-->
<div class="col-lg-12">
	<div class="ibox chat-view">
		<div class="ibox-title">
			<small class="pull-right text-muted"></small> Chats
		</div>
		<div class="ibox-content">
			<div class="row">
				<div class="col-md-9 ">
					<div class="chat-discussion">
						<div ng-class="(message.user.userId == loggedUser.userId) ? 'chat-message left': 'chat-message right'" ng-repeat="message in messages">
							<img class="message-avatar" src="http://lorempixel.com/32/32"
								alt="">
							<div class="message">
								<a class="message-author" href="#"> {{message.user.name}} </a> <span
									class="message-date">{{message.time | date:"MM/dd/yyyy 'a las' h:mma"}} </span> {{message.content}}<span class="message-content"></span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="chat-users">
						<div class="users-list">
							<div class="chat-user" ng-repeat="chat in chats" ng-click="getAllMessage(chat.chatId)">
								<img class="chat-avatar" src="http://lorempixel.com/32/32"
									alt="">
								<div class="chat-user-name">
									<a>{{chat.event.name}}</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="chat-message-form">
						<div class="input-group">
							<input type="text" placeholder="Escribe aquí tu mensaje..." ng-model="objMessage.content"
								class="form-control"> <span class="input-group-btn">
								<button type="button" class="btn btn-primary" ng-click="sendMessage($event)">Enviar</button>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



























