<div class="Container">
	<div>
		<table class="table table-hover " >
			<thead>
			</thead>
			<tbody ng-repeat="chat in chats">
				<tr>
					<td>{{chat.chatId}}</td>
				</tr>
			</tbody>
		</table>
		</div>
		<div>
		<table class="table table-hover " >
			<thead>
			</thead>
			<tbody ng-repeat="chat in chats">
				<tr>
					<td>{{chat.chatId}}</td>
				</tr>
			</tbody>
		</table>
		</div>
			<div>
		<table class="table table-hover " >
			<thead>
			</thead>
			<tbody ng-repeat="chat in chats">
				<tr>
					<td>{{chat.chatId}}</td>
				</tr>
			</tbody>
		</table>
		</div>
	</div>
	
	
	
	<div class="small-chat-box ng-small-chat fadeInCenter animated" ng-show="openChat">

    <div class="heading" draggable="true">
        <small class="chat-date pull-center">
            02.19.2015
        </small>
        Chat administrativo
    </div>

    <div class="content" chat-slim-scroll>

		<table class="table table-hover" id="#tableScroll">
			<thead>
			</thead>
			<tbody ng-repeat="chat in chats" ng-click="getAllMessage(chat.chatId)">
				<tr>
					<td>{{chat.chatId}}</td>
				</tr>
			</tbody>
		</table>
		
        <!--<div class="left">
            <div class="author-name">
                Monica Jackson <small class="chat-date">
                10:02 am
            </small>
            </div>
            <div class="chat-message active">
                Lorem Ipsum is simply dummy text input.
            </div>
        </div>-->


    </div>
    <div class="form-chat">
        <div class="input-group input-group-sm"><input type="text" class="form-control"> <span class="input-group-btn"> <button
                class="btn btn-primary" type="button">Send
        </button> </span></div>
    </div>

</div>
<div id="small-chat" ng-click="openChat = !openChat">

    <span class="badge badge-warning pull-right">5</span>
    <a class="open-small-chat">
        <i class="fa fa-comments"></i>

    </a>
</div>

<div id="messageByChat" class="small-chat-box ng-small-chat fadeInCenter animated">

    <div class="heading" draggable="true">
        <small class="chat-date pull-center">
            02.19.2015
        </small>
      Nombre del chat
    </div>

    <div class="content" chat-slim-scroll>

		<table class="table table-hover">
			<thead>
			</thead>
			<tbody ng-repeat="message in messages">
				<tr>
					<td>{{message.messageId}}</td>
					<td>{{message.user.name}}</td>
					<td>{{message.content}}</td>
					<td>{{message.chat.chatId}}</td>
					
				</tr>
			</tbody>
		</table>
		
        <!--<div class="left">
            <div class="author-name">
                Monica Jackson <small class="chat-date">
                10:02 am
            </small>
            </div>
            <div class="chat-message active">
                Lorem Ipsum is simply dummy text input.
            </div>
        </div>-->


    </div>
    <div class="form-chat">
        <div class="input-group input-group-sm"><input type="text" class="form-control" ng-model="objMessage.content"> 
        <span class="input-group-btn">
         <button class="btn btn-primary" ng-click="sendMessage($event)" type="button">Send
        </button> </span></div>
    </div>

</div>



</div>