<div ng-show="step == 0" class="col-lg-12">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h1>Eventos publicados</h1>
			<div ibox-tools></div>
		</div>
		<div class="ibox-content">
			<div class="row">
				<div class="col-sm-12">
					<div class="input-group">
						<button type="button" class="btn btn-primary"
							ng-click="openDivSearch()">Criterio</button>
					</div>
					<div id="itemsSearch" class="ibox-content">
						<form role="form" class="form-inline">
							<div class="form-group">
								<label for="searchByPlace" class="sr-only" > <strong> Lugar </strong></label> <input
									type="text" placeholder="Busque por lugar" id="searchByPlace"
									ng-model="searchByPlace" class="form-control">
							</div>
							<div class="form-group">
								<label for="searchByEvent" class="sr-only"> <strong> Evento </strong>
								</label> <input type="text" id="searchByEvent"
									placeholder="Busque por evento" class="form-control"
									ng-model="searchByEvent" />
							</div>
							<div class="form-group">
								<label for="searchByUser" class="sr-only"> <strong> Usuario </strong>

								</label><input type="text" id="searchByUser"
									placeholder="Busque por usuario" class="form-control"
									ng-model="searchByUser" />
							</div>
							<button class="btn btn-primary"
								ng-click="searchByParam()">Buscar</button>
						</form>
					</div>
				</div>
				
			</div>
		</div>
		<div class="ibox-content">

			<ul class="event-list collapseDiv" ng-repeat="event in eventsPublish">
				<li><time datetime="event.publishDate" data-toggle="collapse"
						data-target="#demo{{$index}}">
						<span class="day">{{event.day}}</span> <span class="month">{{event.month}}</span>
					</time> <img ng-if="event.image == null || event.image == ''"
					alt="No se pudo cargar la imagen del evento"
					src="http://clips.com.mx/EysCommerciaWebV4/App_Themes/Clips/Imagen/NoDisponible.gif"
					data-toggle="collapse" data-target="#demo{{$index}}" /> <img
					ng-if="event.image != null && event.image != ''"
					alt="No se pudo cargar la imagen del evento" src="{{event.image}}"
					data-toggle="collapse" data-target="#demo{{$index}}" />
					<div class="info">
						<h2 class="title" data-toggle="collapse"
							data-target="#demo{{$index}}">{{ event.name }}</h2>
						<p class="desc" data-toggle="collapse"
							data-target="#demo{{$index}}">{{ event.description }}</p>
						<ul>
							<li style="width:34%;" ng-click="showComments(event)" >Comentarios  
																				<span class="fa fa-envelope"></span></li>
							<li style="width:33%;" ng-click="goToEventPromoterProfile(event.user.userId)">Promotor {{ event.user.name }} {{ event.user.lastName1 }}
								 <span class="fa fa-male"></span></a></li>
						</ul>
					</div>
					<div class="social" data-toggle="collapse"
						data-target="#demo{{$index}}">
						<ul>
							<li><span>ver más</span></li>
							<li><span class="fa fa-chevron-down pull-right"></span></li>
						</ul>
					</div></li>
				<div id="demo{{$index}}" class="collapse">
					<img src="..." alt="..." class="img-thumbnail">
					<p>Aquí estará el detalle del evento</p>
				</div>
			</ul>
		</div>
		<div ng-hide="eventsPublish.length" class="ibox-content">
			<p>No hay eventos con ese criterio de busqueda.</p>
		</div>
	</div>
</div>

<div ng-show="step == 1" class="col-lg-12">

	<div class="ibox float-e-margins">
        <div class="ibox-title">
            <h4>Comentarios</h4>
        </div>
        <div class="ibox-content">
        	
	        	<div class="containerComment" id="commentDiv">
	        	<form>
		        	<div class="form-group">
		        		<textarea class="form-control" rows="5" placeholder="Escriba su comentario aquí..." ng-model="comment"></textarea>
		        	</div>
	        		<button class="btn btn-primary" ng-click="commentEvent()">Comentar</button>
	        		</form>
	        	</div>
	        	
	        	
        	
			<div class="containerComment">
				<div class="row">
					<div class="col-lg-12">
			            <div class="panel panel-white post panel-shadow" ng-repeat="comment in commentList | orderBy : 'date' : true">
			                <div class="post-heading">
			                    <div class="pull-left image">
			                        <img src="http://bootdey.com/img/Content/user_1.jpg" class="img-circle avatar" alt="user profile image">
			                    </div>
			                    <div class="pull-left meta">
			                        <div class="title h5">
			                            <a href="#"><b>{{(comment.eventParticipant.user == null)? comment.eventParticipant.offlineUser.email : comment.eventParticipant.user.name}}</b></a>
			                        </div>
			                        <h6 class="text-muted time" >{{setDate(comment.date)}}</h6>
			                    </div>
			                </div> 
			                <div class="post-description"> 
			                    <p>{{comment.content}}</p>
			                </div>
			            </div>
		            </div>
		        </div>
			</div>
        </div>
    </div>
</div>
