<div id="" class="col-lg-12">
	<div class="ibox float-e-margins">
		<div class="ibox-title">
			<h1>Eventos publicados</h1>
			<div ibox-tools></div>
		</div>
		<div class="ibox-content">
			<div class="row">
				<div class="col-sm-6">
					<div class="input-group">
						<button type="button" class="btn btn-primary"
							ng-click="openDivSearch()">Criterio</button>
					</div>
					<div id="itemsSearch" class="ibox-content">
						<label> <strong> Lugar </strong></label> <input type="text"
							placeholder="Busque por lugar" ng-model="searchByPlace" class="form-control"> <label>
							<strong> Evento </strong>
						</label> <input type="text" placeholder="Busque por nombre evento"
							class="form-control" ng-model="searchByEvent" > <label> <strong>
								Usuario </strong>
						</label><input type="text" placeholder="Busque por nombre usuario"
							class="form-control" ng-model="searchByUser">
						<button type="button" class="btn btn-danger" ng-click="closeModal()">Cancelar</button>
						<button type="button" class="btn btn-primary" ng-click="searchByParam()">Buscar</button>
					</div>
				</div>

			</div>
		</div>
		<div class="ibox-content">

			<ul class="event-list collapseDiv" ng-repeat="event in eventsPublish">
				<li><time datetime="event.publishDate" data-toggle="collapse"
						data-target="#demo{{$index}}">
						<span class="day">{{event.day}}</span> <span class="month">{{event.month}}</span>
					</time> <img ng-if="event.image == null || event.image == ''"
					alt="No se pudo cargar la imagen del evento"
					src="http://clips.com.mx/EysCommerciaWebV4/App_Themes/Clips/Imagen/NoDisponible.gif"
					data-toggle="collapse" data-target="#demo{{$index}}" /> <img
					ng-if="event.image != null && event.image != ''"
					alt="No se pudo cargar la imagen del evento" src="{{event.image}}"
					data-toggle="collapse" data-target="#demo{{$index}}" />
					<div class="info">
						<h2 class="title" data-toggle="collapse"
							data-target="#demo{{$index}}">{{ event.name }}</h2>
						<p class="desc" data-toggle="collapse"
							data-target="#demo{{$index}}">{{ event.description }}</p>
						<ul>
							<li style="width: 34%;" data-toggle="modal"
								data-target="#modal-form">Comentarios <span
								class="fa fa-envelope"></span></li>
							<li style="width: 33%;"
								ng-click="goToEventPromoterProfile(event.user.userId)">Promotor
								{{ event.user.name }} {{ event.user.lastName1 }} <span
								class="fa fa-male"></span></a>
							</li>
						</ul>
					</div>
					<div class="social" data-toggle="collapse"
						data-target="#demo{{$index}}">
						<ul>
							<li><span>ver más</span></li>
							<li><span class="fa fa-chevron-down pull-right"></span></li>
						</ul>
					</div></li>
				<div id="demo{{$index}}" class="collapse">
					<img src="..." alt="..." class="img-thumbnail">
					<p>Aquí estará el detalle del evento</p>
				</div>
			</ul>
		</div>
	</div>
</div>

<div id="modal-form" class="modal fade" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<div class="row">
					<div class="col-sm-12">
						<h3 class="m-t-none m-b">Comentarios</h3>
						<div class="ibox float-e-margins">
							<div class="ibox-content">
								<div class="containerComment">
									<div class="row">
										<div class="col-xs-8">
											<div class="panel panel-white post panel-shadow">
												<div class="post-heading">
													<div class="pull-left image">
														<img src="http://bootdey.com/img/Content/user_1.jpg"
															class="img-circle avatar" alt="user profile image">
													</div>
													<div class="pull-left meta">
														<div class="title h5">
															<a href="#"><b>Ryan Haywood</b></a> made a post.
														</div>
														<h6 class="text-muted time">1 minute ago</h6>
													</div>
												</div>
												<div class="post-description">
													<p>Bootdey is a gallery of free snippets resources
														templates and utilities for bootstrap css hmtl js
														framework. Codes for developers and web designers</p>
												</div>
											</div>
										</div>
										<div class="col-xs-8">
											<div class="panel panel-white post panel-shadow">
												<div class="post-heading">
													<div class="pull-left image">
														<img src="http://bootdey.com/img/Content/user_1.jpg"
															class="img-circle avatar" alt="user profile image">
													</div>
													<div class="pull-left meta">
														<div class="title h5">
															<a href="#"><b>Ryan Haywood</b></a> made a post.
														</div>
														<h6 class="text-muted time">1 minute ago</h6>
													</div>
												</div>
												<div class="post-description">
													<p>Bootdey is a gallery of free snippets resources
														templates and utilities for bootstrap css hmtl js
														framework. Codes for developers and web designers</p>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>