<div class="Container">

	<div class="widget-head-color-box navy-bg p-lg text-center">
		<div class="m-b-md">
			<h2 class="font-bold no-margins">{{event.name}}</h2>
			<small>{{event.place.name}}</small>
		</div>
		<img src="{{event.image}}"
			class="img-responsive img-rounded center-block" width="175px"
			height="105px" alt="profile">
		<div>
			<span>Correo: {{event.user.email}}</span>
		</div>
		<div>
			<span>Evento: {{(((event.private_)==0)? "Público":"Privado")}}</span>
		</div>
	</div>
	<div class="widget-text-box">
		<h4 class="media-heading" ng-show="isComment">{{nameProvaider}}</h4>
		<p ng-show="isComment">Te ha invitado a un evento</p>
		<div class="form-group" ng-show="isComment">
			<h4 class="media-heading">Comentarios</h4>
			<textarea rows="5" style="resize: none" type="text" id="desciption"
				class="form-control" placeholder="Comentarios" ng-model="comment"></textarea>
		</div>
		<div class="form-group" ng-show="isComment === false">
			<h4 class="media-heading">Tu respuesta ha sido enviada</h4>
			<p>{{answer}}</p>
		</div>
		<div class="text-right" ng-show="isComment">
			<a class="btn btn-sm btn-danger" id="noAttend"
				ng-click="createParticipant(0)"><i class="fa fa-thumbs-down"></i>
				No asistir </a>
			<button id="attend" ng-click="createParticipant(2)"
				class="btn btn-sm btn-primary">
				<i class="fa fa-thumbs-up"></i> Asistir
			</button>
		</div>
	</div>


	<!--<div id="modal-form" class="modal fade" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-body">
					<div class="row">
						<div class="col-sm-12 b-r">
							<h3 class="m-t-none m-b">Evento</h3>
							<form role="form" ng-init="service">
								<div class="form-group">

									<label class="font-noraml"><strong>Nombre</strong></label> <input
										type="text" id="name" class="form-control"
										placeholder="Nombre" ng-model="event.name" readonly />

								</div>
								<div class="form-group">
									<label class="font-noraml"><strong>Descripción</strong></label>
									<input type="text" id="desciption" class="form-control"
										placeholder="Descripcion" ng-model="event.description"
										readonly />
								</div>
								<div class="form-group">
									<label class="font-noraml"><strong>Lugar</strong></label> <input
										type="text" id="desciption" class="form-control"
										placeholder="Lugar" ng-model="event.place.name" readonly />
								</div>

								<div class="form-group">
									<label class="font-noraml"><strong>Estado</strong></label> <input
										type="text" id="desciption" class="form-control"
										placeholder="Estado" ng-model="event.private_" readonly />
								</div>
								<div class="form-group">
									<label class="font-noraml"><strong>Proveedor</strong></label> <input
										type="text" id="desciption" class="form-control"
										placeholder="Proveedor" ng-model="nameProvaider" readonly />
								</div>
								<div class="form-group">
								<label class="font-noraml"  ><strong>Comentarios</strong></label> 
									<input type="text" id="desciption" class="form-control"
										placeholder="Comentarios" ng-model="comment"/>
								</div>
								<div class="form-group">
									<label class="font-noraml"><strong>Asistir: </strong></label> 
									<label> 
										<input type="radio" checked="" value="option1" id="optionsRadios1" name="optionsRadios"> Si
                                    </label>
                                   <label> 
                                   		<input type="radio" value="option2" id="optionsRadios2" name="optionsRadios"> No
                                    </label>
  
								</div>
								<div class="form-group">
									<button class="btn btn-sm btn-primary pull-right m-t-n-xs"
										type="submit" ng-click="createParticipant($event)">
										<strong>Aceptar</strong>
									</button>

								</div>

								<div class="form-group">
									<button type="button"
										class="btn btn-sm btn-danger pull-right m-t-n-xs"
										data-dismiss="modal">Cancelar</button>
								</div>


							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div> -->
</div>